---
hashed_password: "HASHED_PASSWORD"
email_password: 'EMAIL_PASSWORD'
disks:
  encryption_password: DISK_PASSWORD
  encryption_password_format: alphanumeric-10
wifi_home:
  ssid: Thompson
  password: WIFI_PASSWORD
wifi_mobile:
  ssid: suuno
  password: HOTSPOT_PASSWORD
ssh:
  <service_name_or_local>:
    <machine_name>:
      ed25519:
        public: YOUR_PUBLIC_KEY_OR_LET_NIXX_GENERATE_ONE
        private: |-
          YOUR_PRIVATE_KEY_OR_LET_NIXX_GENERATE_ONE

  local:
    ed25519:
      public: YOUR_PUBLIC_KEY
      private: |-
        YOUR_PRIVATE_KEY
    ecdsa:
      public: YOUR_PUBLIC_KEY
      private: |-
        YOUR_PRIVATE_KEY

  github:
    <machine_name>:
      ed25519:
        public: GITHUB_PUBLIC_KEY
        private: |-
          GITHUB_PRIVATE_KEY

  some_server:
    all: # Applied to all machines
      ed25519:
        public: YOUR_PUBLIC_KEY
        private: |-
          YOUR_PRIVATE_KEY