wifi_home:
  ssid: YOUR_SSID
  password: YOUR_PASSWORD

wifi_mobile:
  ssid: YOUR_SSID
  password: YOUR_PASSWORD

ssh:
  <service_name_or_local>:
    <machine_name>:
      ed25519:
        public: YOUR_PUBLIC_KEY_OR_LET_NIXX_GENERATE_ONE
        private: |-
          YOUR_PRIVATE_KEY_OR_LET_NIXX_GENERATE_ONE

  local:
    ed25519:
      public: YOUR_PUBLIC_KEY
      private: |-
        YOUR_PRIVATE_KEY
    ecdsa:
      public: YOUR_PUBLIC_KEY
      private: |-
        YOUR_PRIVATE_KEY

  github:
    <machine_name>:
      ed25519:
        public: GITHUB_PUBLIC_KEY
        private: |-
          GITHUB_PRIVATE_KEY

  some_server:
    all: # Applied to all machines
      ed25519:
        public: YOUR_PUBLIC_KEY
        private: |-
          YOUR_PRIVATE_KEY